@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --first-color: #fcd200;
    --second-color: #19181a;
    --third-color:  #0120ff;
    --fouth-color: #00fcd2;
    --fifth-color: #ffa500;
    --sixth-color: #d9a400;
  }
