# Ignore .env file in the /client folder
client/.env

# Ignore contact file with password
api/controllers/contact.js

# Ignore db file with password
api/db.js

#Ignore index.js backend file because of different file upload storage
api/index.js
