/* navbar.css */

.custom-navbar {
    background-color: #1F2937 !important;

    
  }
  
  .text-navbar {
    color: white !important;
  }



  .navbar-link{
    color: white !important;

    
  }




  